* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    background-color: blanchedalmond;
    align-items: center;
    margin: 5vh 2vw;
}

.contact-item {
    position: relative;
    padding-left: 30px;
    list-style-type: none;
}

.contact-item::before{
    content: "";
    position:absolute;
    height: 30px;
    width: 30px;
    background-size: contain;
    top: -5px;
    left: -20px;
    display: block;
}

.contact-item:nth-child(1)::before{
    background-image: url(assets/svg/discord-logo.png);
}

.contact-item:nth-child(2)::before{
    background-image: url(assets/svg/gmail.png);
}

.contact-item:nth-child(3)::before{
    background-image: url(assets/svg/telegram-app.png);
}

.contact-item:nth-child(4)::before{
    background-image: url(assets/svg/github.png);
}

.main, .nav-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: space-around;
    margin: 0 auto;
    width: 80vw;
}

.container {
    width: 45%;
    min-width: 400px;
    height: 40%;
    background: linear-gradient(blanchedalmond, rgb(225, 194, 154), blanchedalmond);
    object-fit: content;
    margin: 5px 0px;
    padding-left: 5px;
}

.header {
    min-height: 40vh;
    width: 90vw;
    margin: 1vh auto;
    background: linear-gradient(180deg, chocolate, 90%, blanchedalmond);
    color: bisque;
    
}

.header-conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 1vh 5vw;
    min-height:18vh;
    font-size: 2em;
    object-fit: contain;
}

.avatar {
    height: 200px;
    border-radius: 25%;
    border: 5px solid bisque;
}

.footer {
    min-height: 5vh;
    max-width: 1440px;
    width: 80vw;
    background-color: chocolate;
    display:flex;
    flex-wrap: wrap;
    object-fit: contain;
    justify-content: space-around;
}

.footer-link {
    height: 80%;
    padding-right: 50px;
    color: bisque;
}

.footer-link:hover {
    color: white;
}

.footer-link:visited {
    color:rgb(225, 194, 154);
}

.nav {
    background: linear-gradient(180deg,chocolate, rgb(225, 194, 154));    
}

.nav-list {
    list-style: none;    
}

.nav-item {    
    background-color: chocolate;
    box-shadow: 0 0 10px 0 rgb(225, 194, 154);
    padding: 3px;
    margin: 6px;
    border-radius: 5%;
    border:1px solid chocolate;
}

.nav-link {
    color:beige;
}

.nav-item:hover {
    border: 1px solid bisque;
    transition: 0.3s;
}

.footer-container {
    padding: 7px 0 0 7px;
}

.contact-link {
    color: brown;
}

.contact-link:hover {
    color: chocolate;
}